<h1>Books</h1>
<!--以下、投稿一覧画面-->
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
  <tr>
    <td>book.title</td>
    <td>book.bosy</td>
    <td>
      <%= link_to "Show", book_path(book.id) %>
      <%= link_to "Edit", edit_book_path(book.id) %>
      <%= link_to "Destroy", book_path(book.id), method: :delete %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<!--以下、新規投稿画面-->